body {
    background-color: grey;
    margin: 0;
    padding: 0;
    
    }

.feedback {
    margin: 0 auto;
    max-width: 485px;
    height: 480px;
    background-color: white;
}

h4 {
    max-width: 445px; 
    margin: 0 auto;
    padding: 20px 0 0;
}

.feedback-group {
    margin: 20px auto;
    max-width: 445px;
    padding: 0 5px;
}

.feedback-label {
    display: block;
    margin-bottom: 20px ;
}

.feedback-label span {
    display: block;
    margin-bottom: 5px;
}

.feedback-input {
    width: 50%;
    padding: 5px 0  5px 5px;
    display: block;
   
}

.feedback-textarea {
    width: 100%;
    min-height: 100px;
    margin-bottom: 8px;
  
}








